.aboutContainer {
  display: flex;
  align-items: flex-start; /* Align items to the start (top) */
  padding: 40px 50px;
  background-color: rgb(237, 239, 240);
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to container */
}

.myPhoto {
  width: 150px;
  height: auto;
  border-radius: 25px;
  margin-right: 20px; /* Increased margin for better spacing */
}




/* .fullstack {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  
} */

.resume-section {
  margin-top: 20px;
}

.resume-section a {
  display: block;
  margin: 10px 0;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.resume-section a:hover {
  text-decoration: underline;
}

.heroSection{
  font-size: 10px;
  margin-bottom: 10px;
}
.about-page {
  margin-top: 20px;
  padding: 20px 50px;
  font-size: 18px;
}

.fullstack {
  width: 50%; /* Adjust to desired width */
  height: auto; /* Maintain aspect ratio */
}

  