.services {
    padding: 20px;
    background-color: rgb(237, 239, 240);
    margin-top: 50px;
    width: 92vw;
}
.service-card{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
}
.service-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}
.service-card p {
    font-size: 1em;
    color: #666;
  }        
  